<div class="container py-8 py-lg-9">
    <div class="bg-primary text-white">
        <div id="region-footer-bottom" class="region container">
            <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-center">
                <nav role="navigation" role="navigation" aria-labelledby="block-menupieddepage-menu">
                    <h2 class="visually-hidden" id="block-menupieddepage-menu">Menu Pied de page</h2>
                    <ul region="footer_bottom" class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://preprod.vdn.nc/markup" alt="site internet de Nouméa">Nouméa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" alt="Accès aux backoffice">Accès backoffice</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
