<div class="container bg-info rounded">
    <center>
        <i class="fas fa=comment fa-5x"></i>
        <h1><a class="text-white" href="{{url_for('home') }}">Page Citoyen</a></h1>
        <p>Welcome !</p>
    </center>
</div>