{% extends "base.html.j2" %}

{% block title %}{{ username }}{% endblock %}
{% block leftbody %}
<div class="row">
    <div class="col">
        <h1 class="ẗext-center">Page citoyen de la ville de Noumea</h1>
        <p>Cette page présente l'ensemble des e-services de la ville de Nouméa</p>
        <p>Vous pouvez suivre vos demandes et dossiers en cours et accèder à vos données personnelles</p>
        {% if "" in username %}
        <p>Pour accèder aux e-service, il faut vous authentifier</p>
        {% else %}
            {% include 'eservice.html.j2' %}
        {% endif %}
    </div>
</div>
{% endblock %}