{% extends "base.html.j2" %}

{% block title %}Déconnexion{% endblock %}
{% block leftbody %}
<div class="row">
    <div class="col bg-light">
        <h1 class="ẗext-center">A bientôt</h1>
    </div>
</div>
{% endblock %}