

        <div id="region-breadcrumbs" class="region d-none d-lg-block">
            <div class="container py-3">
                <div class="row row-cols-auto justify-content-between align-items-center">
                    <div class="block block-system block-system-breadcrumb-block">
                        <nav aria-label="breadcrumb">
                            <h2 id="system-breadcrumb" class="visually-hidden">Fil d'Ariane</h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/" aria-label="Accueil"><span>Accueil</span></a>
                                </li>
                                {% if nav_item -%}
                                    {% for i in nav_item -%}
                                <li class="breadcrumb-item">
                                    <a href="{{ i.link }}" aria-label="{{ i.title }}"><span>{{ i.title}}</span></a>
                                </li>
                                    {% endfor -%}
                                {% endif -%}
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}"></a>
            </li>-->
            <!--<li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/private">
                <i class="fa fa-fw fa-signout"></i>Mes informations from Keycloak</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://iam.ville-noumea.nc/auth/realms/Eservices-VDN/protocol/openid-connect/auth?client_id=kck-flask&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Foidc_callback&response_type=code&scope=openid+email+profile&kc_idp_hint=nc-connect">
                <i class="fa fa-fw fa-signout"></i>Login NC-Connect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://iam.ville-noumea.nc/auth/realms/Eservices-VDN/protocol/openid-connect/logout">
                <i class="fa fa-fw fa-sign-in"></i>Logout</a>
            </li>-->
            <!--<li class="nav-item">
                {% if user %}
                <a class="nav-link" href="/logout">
                <i class="fa fa-fw fa-sign-in"></i>Se déconnecter</a>
                {% else %}
                <a class="nav-link" href="/private">
                <i class="fa fa-fw fa-sign-in"></i>Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>-->