<div class="row">
    <div class="col">
        <h5>Proc&eacute;dures r&eacute;centes</h5>
    </div>
</div>
<ul class="list-group">
    {% for p in recent %}
    <li class="list-group-item">
        <a href="{{ url_for('process', proc_id=p.id) }}">{{ p.title }}</a>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col">
        <h5>Tag populaires</h5>
    </div>
</div>
<ul class="list-group">
    {% for tag in top_tag %}
    <li class="list-group-item">
        <a href="{{ url_for('process_by_tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
    </li>
    {% endfor %}
</ul>
