<div class="row">
    <div class="col">
        <h5>Authentification</h5>
        {% if user %}
        <div class="greeting">
            <p class="text-center">Bonjour {{ user.username }}</p>
        </div>
        {% else %}
        <ul class="list-group">
            <li class="list-group-item">
                <a class="button" id="ncconnect" href="https://iam.ville-noumea.nc/auth/realms/Eservices-VDN/protocol/openid-connect/auth?client_id=kck-flask&redirect_uri=http%3A%2F%2F172.16.24.111%3A8080%2Foidc_callback&response_type=code&scope=openid+email+profile&kc_idp_hint=nc-connect" alt="Login nc-connect">
                    <!--<span>nc-connect</span>-->
                </a>
            </li>
            <li class="list-group-item">
                <a class="button" id="keycloak" href="/private">
                    <!--<span>keycloak</span>-->
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Proc&eacute;dures r&eacute;centes</h5>
    </div>
</div>
<ul class="list-group">
    {% for p in recent %}
    <li class="list-group-item">
        <a href="{{ url_for('process', proc_id=p.id) }}">{{ p.title }}</a>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col">
        <h5>Tag populaires</h5>
    </div>
</div>
<ul class="list-group">
    {% for tag in top_tag %}
    <li class="list-group-item">
        <a href="{{ url_for('process_by_tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
    </li>
    {% endfor %}
</ul>
