{% extends "base.html.j2" %}

{% block title %}{{ user.given_name }}{% endblock %}

{% block head %}
<div class="container bg-info rounded">
    <center>
        <i class="fas fa=comment fa-5x"></i>
        <h1><a class="text-white" href="{{url_for('home') }}">Mes informations</a></h1>
    </center>
</div>
{% endblock %}

{% block leftbody %}
<div class="row">
    <div class="col">
        <h1 class="ẗext-center">{{ user.greeting }}</h1>
        <p class="ẗext-center">email: {{ user.email }}</p>
        <p class="ẗext-center">email_verified: {{ user.email_verified }}</p>
        <p class="ẗext-center">gender: {{ user.gender }}</p>
        <p class="ẗext-center">birthdate: {{ user.birthdate }}</p>
        <p class="ẗext-center">birthplace: {{ user.birthplace }}</p>
    </div>
</div>
{% endblock %}